<div class="Overall">
	<h1 class="top_title">会員登録</h1>
   <h5 class="terms_title">・会員規約 （Terms and Conditions for Membership）</h5>
	  <div class="framearea">
		   <br><br>
		   第１条（会員）
		   <br><br>
		   1. 「会員」とは、当社が定める手続に従い本規約に同意の上、入会の申し込みを行う個人をいいます。
		   2. 「会員情報」とは、会員が当社に開示した会員の属性に関する情報および会員の取引に関する履歴等の情報をいいます。
		   3. 本規約は、すべての会員に適用され、登録手続時および登録後にお守りいただく規約です。
		   <br><br>
		   第２条（登録）
		   <br><br>
		   1. 会員資格 本規約に同意の上、所定の入会申込みをされたお客様は、所定の登録手続完了後に会員としての資格を有します。会員登録手続は、会員となるご本人が行ってください。代理による登録は一切認められません。なお、過去に会員資格が取り消された方やその他当社が相応しくないと判断した方からの会員申込はお断りする場合があります。
		   <br><br>
		   2. 会員情報の入力 会員登録手続の際には、入力上の注意をよく読み、所定の入力フォームに必要事項を正確に入力してください。会員情報の登録において、特殊記号・旧漢字・ローマ数字などはご使用になれません。これらの文字が登録された場合は当社にて変更致します。
		   <br><br>
		   3. パスワードの管理
		   <br>
		   (1)パスワードは会員本人のみが利用できるものとし、第三者に譲渡・貸与できないものとします。
		   <br>
		   (2)パスワードは、他人に知られることがないよう定期的に変更する等、会員本人が責任をもって管理してください。
		   <br>
		   (3)パスワードを用いて当社に対して行われた意思表示は、会員本人の意思表示とみなし、そのために生じる支払等はすべて会員の責任となります。
		   <br><br>
		   第３条（変更）
		   <br><br>
		   1. 会員は、氏名、住所など変更があった場合には、速やかに登録内容の変更を行なってください。
		   <br>
		   2. 変更登録がなされなかったことにより生じた損害について、当社は一切責任を負いません。また、変更登録がなされた場合でも、変更登録前にすでに手続がなされた取引は、変更登録前の情報に基づいて行われますのでご注意ください。
		   <br><br>
		   第４条（退会）
		   <br><br>
		   会員が退会を希望する場合には、会員本人が退会手続きを行ってください。所定の退会手続の終了後に、退会となります。
		   <br><br>
		   第５条（会員資格の喪失及び賠償義務）
		   <br><br>
		   1. 会員が、会員資格取得申込の際に虚偽の申告をしたとき、通信販売による代金支払債務を怠ったとき、その他当社が会員として不適当と認める事由があるときは、当社は、会員資格を取り消すことができることとします。
		   <br>
		   2. 会員が、以下の各号に定める行為をしたときは、これにより当社が被った損害を賠償する責任を負います。
		   <br>
		   (1)会員番号、パスワードを不正に利用すること。
		   <br>(2)当ホームページにアクセスして情報を改ざんしたり、当ホームページに有害なコンピュータプログラムを送信するなどして、当社の営業を妨害すること。
		   <br>
		   (3)当社が扱う商品の知的所有権を侵害する行為をすること。
		   <br>
		   (4)その他、この利用規約に反する行為をすること。
		   <br><br>
		   第６条（会員情報の取扱い）
		   <br><br>
		   1. 当社は、原則として会員情報を会員の事前の同意なく第三者に対して開示することはありません。ただし、次の各号の場合には、会員の事前の同意なく、当社は会員情報その他のお客様情報を開示できるものとします。
		   <br>
		   (1)法令に基づき開示を求められた場合
		   <br>
		   (2)当社の権利、利益、名誉等を保護するために必要であると当社が判断した場合
		   <br>
		   2. 会員情報につきましては、当社の「個人情報保護への取組み」に従い、当社が管理します。当社は、会員情報を、会員へのサービス提供、サービス内容の向上、サービスの利用促進、およびサービスの健全かつ円滑な運営の確保を図る目的のために、当社おいて利用することができるものとします。
		   <br>
		   3. 当社は、会員に対して、メールマガジンその他の方法による情報提供（広告を含みます）を行うことができるものとします。会員が情報提供を希望しない場合は、当社所定の方法に従い、その旨を通知して頂ければ、情報提供を停止します。ただし、本サービス運営に必要な情報提供につきましては、会員の希望により停止をすることはできません。
		   <br><br>
		   第７条（禁止事項）
		   <br><br>
		   本サービスの利用に際して、会員に対し次の各号の行為を行うことを禁止します。
		   <br>
		   1. 法令または本規約、本サービスご利用上のご注意、本サービスでのお買い物上のご注意その他の本規約等に違反すること
		   <br>
		   2. 当社、およびその他の第三者の権利、利益、名誉等を損ねること
		   <br>
		   3. 青少年の心身に悪影響を及ぼす恐れがある行為、その他公序良俗に反する行為を行うこと
		   <br>
		   4. 他の利用者その他の第三者に迷惑となる行為や不快感を抱かせる行為を行うこと
		   <br>
		   5. 虚偽の情報を入力すること
		   <br>
		   6. 有害なコンピュータプログラム、メール等を送信または書き込むこと
		   <br>
		   7. 当社のサーバその他のコンピュータに不正にアクセスすること
		   <br>
		   8. パスワードを第三者に貸与・譲渡すること、または第三者と共用すること
		   <br>
		   9. その他当社が不適切と判断すること
		   <br><br>
		   第８条（サービスの中断・停止等
		   <br><br>
		   1. 当社は、本サービスの稼動状態を良好に保つために、次の各号の一に該当する場合、予告なしに、本サービスの提供全てあるいは一部を停止することがあります。
		   <br>
		   (1)システムの定期保守および緊急保守のために必要な場合
		   <br>
		   (2)システムに負荷が集中した場合
		   <br>
		   (3)火災、停電、第三者による妨害行為などによりシステムの運用が困難になった場合
		   <br>
		   (4)その他、止むを得ずシステムの停止が必要と当社が判断した場合
		   <br><br>
		   第９条
		   （サービスの変更・廃止）
		   <br><br>
		   当社は、その判断によりサービスの全部または一部を事前の通知なく、適宜変更・廃止できるものとします。
		   <br><br>
		   第10条（免責）
		   <br><br>
		   1. 通信回線やコンピュータなどの障害によるシステムの中断・遅滞・中止・データの消失、データへの不正アクセスにより生じた損害、その他当社のサービスに関して会員に生じた損害について、当社は一切責任を負わないものとします。
		   <br>
		   2. 当社は、当社のウェブページ・サーバ・ドメインなどから送られるメール・コンテンツに、コンピュータ・ウィルスなどの有害なものが含まれていないことを保証いたしません。
		   <br>
		   3. 会員が本規約等に違反したことによって生じた損害については、当社は一切責任を負いません。
		   <br><br>
		   第11条（本規約の改定）
		   <br><br>
		   当社は、本規約を任意に改定できるものとし、また、当社において本規約を補充する規約（以下「補充規約」といいます）を定めることができます。本規約の改定または補充は、改定後の本規約または補充規約を当社所定のサイトに掲示したときにその効力を生じるものとします。この場合、会員は、改定後の規約および補充規約に従うものと致します。
		   <br><br>
		   第12条（準拠法、管轄裁判所）
		   <br><br>
		   本規約に関して紛争が生じた場合、当社本店所在地を管轄する地方裁判所を第一審の専属的合意管轄裁判所とします。
		   <br><br><br>
		   [English]
		   <br><br>
		   Terms and Conditions for Membership
		   <br>
		   Article 1 (Members)
		   <br>
		   1. A “member” is an individual who has agreed to these terms and conditions and applied for membership according to the process established by our company. 2. “Member information” includes personal details disclosed to our company by a member, as well as a member’s transaction history.  3. The terms and conditions of our membership policy (hereafter “this policy”) apply to all members and shall be adhered to at the time of and after the conclusion of registration.
		   <br><br>
		   Article 2 (Registration)
		   <br>
		   1. Membership Qualification: Qualification as a member occurs only after a customer has agreed to this policy, submitted the designated application form, and completed the prescribed registration process. Membership registration should be conducted by the individual being registered. We do not accept any registrations submitted by a proxy. Furthermore, we may refuse membership applications from individuals whose membership qualification has been cancelled in the past or individuals deemed by our company to be inappropriate. 2. Membership Information Input: At the time of member registration, we request that you enter the required details into the designated form accurately, paying careful attention to the directions for input. Special symbols, old-style kanji characters and letters from the Roman alphabet cannot be used in the registration of member information. In the event these kinds of characters have been entered, they will be modified by our company. 3. Password Management: (1) A password can only be used by the individual member and cannot be handed over to or shared with a third party. (2) Members are expected to take responsibility for the management of their own password, changing it at regular intervals to ensure it remains unknown to other individuals. (3) Any action taken using a member’s password will be considered as a declaration of intent by the member, and any necessary payments incurred as a result will be the responsibility of the member.
		   <br>
		   <br>
		   Article 3 (Changes)
		   <br>
		   1. A member who has changes to their name, address or any other membership details provided to our company, shall contact our company as soon as possible. 2. Our company will bear no responsibility for any damage incurred in the event that registration details have not been promptly notified and changed. Furthermore, in the event that the processing for a transaction has already taken place prior to the registration details being changed, please be aware that the transaction will have been processed according to the previous details on record.
		   <br><br>
		   Article 4 (Cancellation of Membership)
		   <br>
		   Members wishing to cancel membership must conduct the necessary processing by themselves. Cancellation of membership occurs at the completion of the designated membership cancellation process.
		   <br><br>
		   Article 5 (Loss of Membership Qualifications and Obligation for Compensation)
		   <br>
		   1. When a member is found to have provided false information at the time of application for acquisition of membership qualifications, neglected to fulfil their obligation for payment of goods purchased online, or conducted any other activities deemed inappropriate for a member of our company, we reserve the right to cancel the individual’s membership qualification. 2. A member engaging in any of the activities established below will be obligated to compensate our company for any damages thereby incurred by our company:  1) fraudulent use of membership numbers or passwords; (2) accessing our website and falsifying information, sending harmful computer programs to our company website, or any other activities that obstruct our company’s normal business operations; (3) infringement of intellectual property rights related to the products handled by our company; and (4) any other activity that violates the articles laid out in this policy.
		   <br><br>
		   Article 6 (Management of Membership Information)
		   <br>
		   1. In principle, our company will not provide membership information to a third party without the member’s prior consent. However, our company reserves the right to disclose membership details and other customer information without the member’s prior consent in the following cases: (1) when disclosure is sought in accordance with laws and ordinances, and (2) when our company deems it necessary for the protection of our company’s rights, interests and reputation. 2. Our company manages membership information in accordance with our company policy on “Actions for Safeguarding Personal Information”. Our company reserves the right to use membership information for the provision of services to members, improvement of service content, improved uptake of services, and objectives designed to ensure smooth and sound business operations. 3. Our company reserves the right to supply information to our members through email newsletters and other methods (including advertisements). In the event a member prefers not to receive such information, the member can notify us through our company’s designated process and we will stop such provision of information. However, we cannot stop the provision of information integral to our service operations, even if requested by a member.
		   <br><br>
		   Article 7 (Prohibited Activities)
		   <br>
		   When using our service, members are prohibited from carrying out the following activities. 1. Violation of laws and regulations or the terms and conditions of this policy, as well as of the precautions for use of our services and shopping through this service. 2. Undermining the rights, interests, and reputation of our company or third parties. 3. Acts that may adversely affect the mental and physical wellbeing of underage individuals, and other acts that violate public order and morals.  4.Engaging in acts that cause annoyance or discomfort to other users or third parties. 5. Entering false information. 6. Sending or writing harmful computer programs or emails. 7. Unauthorized access to our company servers and other computers. 8. Lending, transferring or sharing a password to a third party. 9. Any other acts our company deems inappropriate.
		   <br><br>
		   Article 8 (Suspension or Termination of Services)
		   <br>
		   In order to maintain the best operating conditions for our service, our company may suspend all or part of the provision of the services without prior notice in any of the following cases: (1) If it is necessary for regular system maintenance or emergency maintenance; (2) If the system gets overloaded; (3) If it becomes difficult to operate the system due to fire, power outage, or interference by third parties; (4) All other unavoidable circumstances in which our company deems it necessary to stop the system.
		   <br><br>
		   Article 9 (Modification or Repeal of Services)
		   <br>
		   Our company reserves the right to make appropriate modifications to or repeal some or all our services without prior notification.
		   <br><br>
		   Article 10 (Disclaimer)
		   <br>
		   1. Our company assumes no responsibility whatsoever for damages caused by system interruptions, delays, discontinuation, loss of data or unauthorized access to data due to failure of communication lines or computers, or any other damages incurred by members in relation to our services. 2. Our company does not guarantee the absence of harmful items such as computer viruses from mail content sent by our company's webpage server domain or other means by this website. 3. Our company shall not be liable for any damage caused by a member's violation of the terms and conditions of this policy.
		   <br><br>
		   Article 11 (Revision of Membership Policy)
		   <br>
		   Our company can revise any of the terms and conditions of this policy and establish policies to supplement this policy (hereafter "supplementary policies”). Revisions or supplements to this policy are deemed effective from the time the revised or supplementary terms and conditions are posted on our company's designated website. Members are then subject to the revised and/ or supplementary terms and conditions.
		   <br><br>
		   Article 12 (Governing Laws and Court of Jurisdiction)
		   <br>
		   Proceedings in the event a dispute arises regarding this policy shall be heard exclusively by the first instance court in the district court with jurisdiction over the location of our company’s head office.
		   <br><br>
		   Do you agree to the above policy?
		   <br>
		   Yes, I agree.
		    <br>
		    No, I don’t agree.
	  </div>
</div>

<div class="parent">
	<h6 class="write">以上の規約に同意しますか？</h6>
</div>

<div class="btn">
	<%= link_to "規約に同意する", new_user_registration_path, class: "decision-btn" %>
	<%= link_to "同意しない", root_path, class: "decision-btn" %>
</div>

<div class="terms_image">
	<%= image_tag 'terms.jpg', width:"100%" ,height:"50%" %>
</div>



<style>

.top_title{
	text-align: center;
	margin: 3%;
	color: #dc9f69;
	border-bottom: 3px solid;
  border-color: #e0e0e0;
  max-width: 30%;
  margin-left: 35%;
	font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
  }

.terms_title{
  width: 60%;
  margin: 0 auto 1%;
  }

.framearea{
  width: 60%;
  height: 500px;
  border-top: 1px solid;
  overflow-y: scroll;
  margin: auto;
  }

.terms_image{
  max-width: 70%;
  margin: 10% auto;
  }


.btn{
  text-align: center;
  display: block;
  }

.decision-btn{
  display: inline-block;
  max-width: 100%;
  text-align: left;
  background-color: #fdb940;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  border-bottom: 4px solid #d37800;
　}

.decision-btn:active{
  transform: translateY(4px);
  border-bottom: none;
　}

.decision-btn:hover{
  color: #fff;
  text-decoration: none;
  background-color: #ffa300;
  }

.parent{
  position:relative;
  height: 30px;
  background-color: #dedede;
  margin: 1% auto 0;
  max-width: 60%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #b1b1b1;
  }

.write{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  color: #525252;
  }

</style>