<div class="container">
	<h2>登録したクレジットカード一覧</h2>
	<table class="table">
		<tr>
			<th>カードナンバー</th>
			<th>名義</th>
			<th>有効期限</th>
		</tr>

		<% @credit_cards.each do |credit_card| %>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	<% end %>
	</table>
</div>
