<h1>Shops::Inquiries#new</h1>
<%= form_for @inquiry, url: shops_inquiries_path do |inquiry| %>
<h3>タイトル</h3>
<%= inquiry.text_field :title %>
<h3>内容</h3>
<%= inquiry.text_area :body %>
<%= inquiry.submit '送信' %>
<% end %>
