<h1>Shops::Inquiries#show</h1>

<%= link_to "お問い合わせ一覧へ", shops_inquiries_path %>


<table class="table table-bordered">
		<tr class="shop-tr">
			<td>タイトル</td>
			<td><%= @inquiry.title %></td>
		</tr>
		<tr class="shop-tr">
			<td>内容</td>
			<td><%= @inquiry.body %></td>
		</tr>
</table>