 <h2><%= @shop.name %> 様</h2>
　<p>この度は、お問い合わせありがとうございました。<br>
　以下がご質問の内容となっております。<br>
　返信は2〜3営業日いただいております。<br>
</p>

  <p><%= @inquiry.title %></p>
  <p><%= @inquiry.body %></p>

  <p>今後ともCatering Tokyoをよろしくお願いいたします。</p>
           _
       .__(.)< (YUHI)
        \___)
 ~~~~~~~~~~~~~~~~~~~~~~