<h1>Search#search</h1>
<div>
  <%= @ooo %>
</div>
<% if @model == 'shop' %>
<% @datas.each do |data| %>
<%= data.name %>
<% end %>

<% else %>
<% @datas.each do |data| %>
<%= data.name %>
<%= data.price %>
<% end %>
<% end %>

