<div class="container">
  <div class="row">
    <div class="col-9">
      <h2><strong>メッセージ一覧</strong></h2>
      <% @room.each do |room| %>
      <%= room.user.name %>
      <%= link_to "チャット", shops_room_path(room.user.id) %>
      <% end %>
    </div>
  </div>
</div>
