<h1>Users::Informations#show</h1>
<p>Find me in app/views/users/informations/show.html.erb</p>
<div class="row">
	<div class="information_list_box col-12 col-md-6 offset-md-3">
		<div class="image information-image">
			<h3><%= attachment_image_tag @information, :information_image, size: '640x400',class: "item-show"  %></h3>
		</div>
		<div class="title information-title">
			<h3>タイトル[<%= @information.title %>]</h3>
		</div>
		<div class="title information-text">
			<h3>内容:<%= @information.text %></h3>
		</div>
	</div>
</div>