<h1>お店一覧</h1>
<% @shops.each do |shop| %>
    <p>----------</p>
    <span><%= link_to shop.name , "/users/shops/#{shop.id}" %></span>
    <span><%= shop.shop_image_id %></span><br>
<% end %>
<%#<%= render 'users/reviews/all', reviews: @reviews %>

