<h1>Users::Shops#show</h1>

<p>Find me in app/views/users/shops/show.html.erb</p>

<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<%= render 'users/reviews/index', reviews: @reviews %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<%= render 'users/reviews/new', shop: @shop, review: @review %>
		</div>
	</div>
</div>








