// Place all the styles related to the users/shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fa-heart {
    color: red;
}

.shop-box {
  width: 100%;
  /*display: flex;*/
/*  flex-wrap: wrap;*/
}

.profile-img {
  height: 200px;
}

.shop-content {
  margin-left: 25px;
  margin-bottom: 40px;
  float: left;
}

.shop-page {
  margin: 0 auto;
  text-align: center;
}

.shops-all {
  margin-top: 50px;
}

.comeicon {
  margin-left: 5px;
}

.review-ave {
  margin-left: 2px;
  color: red;
}

.favocount {
  margin-left: 5px;
}

.fixed_btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.shop-details {
  display: flex;
  margin: 10px 0 10px 0;
  font-weight:bold; color:orange;
}

.shop-contents {
  display: flex;
  margin: 10px 0 10px 0;
  font-weight:bold; font-size:150%;
}
.favorites-button {
  margin: 10px 0 10px 0;
  font-weight:bold; font-size:200%;
}